<app-navbar></app-navbar>

<router-outlet></router-outlet>

<br><br>
<div *ngIf="true" style="height:20vh; margin-top:0%; width:100%">
<div class="container mt-2">
    <div class="row justify-content-center align-items-center h-20">
<agm-map float-mid [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker *ngIf="located" [latitude]="lat" [longitude]="lng">
        <agm-info-window>Tu Posicion!</agm-info-window>
    </agm-marker>
    <div *ngFor="let local of locales">
        <agm-marker [latitude]="local.lat" [longitude]="local.long">
            <agm-info-window>
                <h5>{{ local.nombre }}</h5>
                <h5>{{ local.direccion }}</h5>
            </agm-info-window>
        </agm-marker>
    </div>
</agm-map>
<div class="col-md-2">
<button class="btn btn-secondary float-mid" (click)="getPosition()">Marcar mi posicion!</button>
</div>
</div>
</div>
</div>