<div class="mt-5 pt-5">
  <div class="container-fluid ">
    <div class="row ">
      <!-- Filters -->
      <div class="col-2 ps-5 pt-5">
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Hamburguesas</label>
        </div>
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Pizzas</label>
        </div>
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Empanadas</label>
        </div>
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Milanesas</label>
        </div>
      </div>
      <!-- Filters -->
      <div class="col-10 ms-0 ps-0">
        <app-searchbar [tipo]="'locales'"></app-searchbar>
        <!-- CAROUSEL -->
                <!-- <app-carousel></app-carousel>  --> 
        <!-- CAROUSEL -->
        <!-- LISTADO -->
        <div *ngFor="let local of localService.locales" (click)="navigateProductos(local)" class="card mb-3"
          style="max-width: 90%;">
          <div class="row g-0">
            <div class="col-md-4">
              <img *ngIf="local.imagePath" [src]="'http://localhost:4000' + local.imagePath" class="img-fluid rounded-start" alt="El local no posee imagen">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ local.nombre }}</h5>
                <p class="card-text">{{local.descripcion}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>