<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
    <div class="navbar-nav me-auto ps-2">
      <a class="navbar-brand ps-2" routerLink="/">
        Pedidosyan't
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="container">
          <div class="navbar-nav me-auto ps-2" *ngIf="authService.isAuthenticated$ | async" >
            <ng-container *ngIf="">
              <!-- ACA HABRIA QUE VER ALGO DE LOS ROLES DEL USUARIO Y SI ESTA HABILITADO PARA VER O NO ESTO -->
              <a class="nav-item nav-link" routerLink="/abm-local" routerLinkActive="active">ABM-Local-Productos</a>
              <a class="nav-item nav-link" routerLink="/list-usuario" routerLinkActive="active">Listado Usuarios</a>
            </ng-container>
            <a class="nav-item nav-link" routerLink="/list-pedido" routerLinkActive="active">Listado Pedidos</a>
            <h5 class="fw-bold text-white pt-3 ms-xxl-5 ps-lg-5 align-content-center">
              DIRECCION Y NOMBRE USUARIO</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-nav ">
        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
          <!--LOGOUT-->
          <a class="nav-item nav-link btn btn-link" (click)="cerrarSesion()">
            Cerrar Sesion
          </a>
          <!--LOGOUT-->
          <!--PERFIL-->
          <a class="nav-item nav-link btn btn-link" routerLink="/perfil" routerLinkActive="active">
            Perfil
          </a>
          <!--PERFIL-->
        </ng-container>   
        <!--LOGIN-->
        <ng-template #loggedOut>
          <a class="nav-item nav-link btn btn-link" (click)="iniciarSesion()">Iniciar Sesion</a>
        </ng-template>
        <!--LOGIN-->
    </div>
</nav>
<!-- NAVIGATION -->