<!-- Footer -->
<footer class="page-footer font-small bg-dark mt-3 pt-5" >
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Grupo N° X</h5>
        
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 offset-2">
        <!-- Links -->
        <h5 class="text-uppercase">Integrantes</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Frontons, Juan</a>
          </li>
          <li>
            <a href="#!">Cuello, Alejo</a>
          </li>
          <li>
            <a href="#!">Vedoya, Joaquin</a>
          </li>
          <li>
            <a href="#!">Castillo, Gonzalo</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a target="_blank" href="https://a.espncdn.com/photo/2021/0711/r878963_1296x729_16-9.jpg">Click Aqui</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->