<div class="container-fluid mt-2 pt-2">
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-12 offset-md-0">
            <div class="card">
                <div  class="card-body text-center">
                    <span class="titulo">Listado de usuarios</span>
                    <table *ngIf="users.length > 0" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Nombre y Apellido</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">ID</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let usuario of users">
                            <tr>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.user_metadata.adress }}</td>
                                <td>{{ usuario.user_id }}</td>  
                                <td width='70px'>
                                     <!--
                                    <i (click)="deleteUsuario(usuario)" class="fas fa-trash text-danger"></i>
                                    <i class="fas fa-edit text-primary" (click)="open(content,local._id)"></i>
                                    <i class="fas fa-trash text-danger" (click)="open(content,local._id)"></i>
                                    -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 *ngIf="users.length <= 0">No hay usuarios para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>

