<div id="landing" class="bg-image">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-8 ms-auto me-0">
                <input type="text" placeholder="Direccion" class="form-control bg-white ps-1">
            </div>
            <div class="col-2 ms-0">
                <button type="submit" class="btn btn-danger btn-block" [routerLink]="'locales'">Buscar</button>
            </div>
        </div>
    </div>
</div>

<app-list-local></app-list-local>